body{
    margin: 0;
}

/* Mise en page du header */

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: #5deabb;
}

ul{
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
li{
    list-style-type: none;
}
a{
    color:#000000;
    text-decoration: none;
}

/* Mise en page du formulaire */

fieldset{
    font-weight: bold;
    background-color: #898f8d;
    width: 35%;
}
input{
    justify-content: space-around;
}
