body{
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    font-family: roboto;
    font-size: 16px;
}

label{
    display: block;
    margin: 0.3rem;
}

#bouton{
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    min-width: 300px;
}